#portfolio-project{
  padding: 100px 15px;
}
#portfolio-project .project-image{
  width: 100%;
  margin-bottom: 3rem;
}
#portfolio-project .project-image .img{
  width: 100%;
  height: 450px;
  background-size: cover !important;
  /* background-position: center center !important; */
  background-position: top center !important;
  background-repeat: no-repeat !important;
  /* background-attachment: fixed !important; */
}
#portfolio-project h1{
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 1.5rem;
}
#portfolio-project .info .buttons{
  padding: 20px 0;
}
#portfolio-project .info .buttons a{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  background: #000;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
}
#portfolio-project .info .buttons .fas{
  color: #ff5253;
  margin-right: 10px;
}
#portfolio-project .info .buttons a:hover{
background: #ff5253;
}
#portfolio-project .info .buttons a:hover .fas{
  color: #000;
}
#portfolio-project .container p{
  font-size: 1.2rem;
  line-height: 1.7;
  color: #929294;
  margin-bottom: 1.8rem;
}
#portfolio-project .technologies{
  padding: 100px 0;
}
#portfolio-project .technologies h3{
  font-size: 2rem;
  font-weight: 700;
  margin: 2.5rem 0;
  text-transform: uppercase;
}
#portfolio-project .technologies .icons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}
#portfolio-project .technologies .icons img{
  filter: grayscale(100%);
  transition: all .3s ease-in-out;
  cursor: pointer;
}
#portfolio-project .technologies .icons img:hover{

  filter: grayscale(0);
}
#portfolio-project .technologies .icons .icon img{
  width: 100%;
  max-width: 60px;
}
#portfolio-project .video{
  margin-top: 160px;
  text-align: center;
}

/* Tablets */
@media only screen and (max-width: 960px){
  #portfolio-project h1 {
    font-size: 3rem;
  }  
  #portfolio-project p {
    font-size: 1rem;
  }  
  #portfolio-project h3 {
    text-align: center;
  }  
  #portfolio-project .video iframe {
    width: 100% !important;
  }
}
/* Phones */
@media only screen and (max-width: 767px){
  #portfolio-project .info .buttons {
    text-align: center;
  }
  #portfolio-project .info .buttons a {
    margin-bottom: 10px;
  }
  #portfolio-project .technologies .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}